<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/author_login.css') }}">
</head>

<body>
  <div class="login">
    <div class="login-screen">
      <div class="app-info">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" class="icon">
    </div>

      <div class="login-form">
        <form action="{{ url_for('author_login') }}" method="post">
          <div class="control-group">
            <input type="text" class="login-field" name="e-mail" placeholder="e-mail" id="e-mail" required>
            <label class="login-field-icon fui-user" for="e-mail"></label>
          </div>

          <div class="control-group">
            <input type="password" class="login-field" name="password" placeholder="password" id="password" required>
            <label class="login-field-icon fui-lock" for="password"></label>
          </div>

          <button type="submit" class="btn btn-primary btn-large btn-block">login</button>
        </form>

        <a class="login-link" href="#">Lost your password?</a>
        <a class="btn2 btn-primary btn-large btn-block" href="#">create new group</a>
      </div>
    </div>
  </div>
</body>

</html>