<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>アプリ名</h1>
      </div>

      <div class="login-form">
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="e-mail" id="e-mail">
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
          <input type="password" class="login-field" value="" placeholder="password" id="login-pass">
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <a class="btn btn-primary btn-large btn-block" href="#">login</a>
        <a class="login-link" href="#">Lost your password?</a>
        <a class="btn2 btn-primary btn-large btn-block" href="#">sign in</a>
        <a class="btn2 btn-primary btn-large btn-block" href="#">create new group</a>

        <!-- <a class="signin-link" href="#">Sign in</a> -->
      </div>
    </div>
  </div>
</body>

</html>