<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>


<div class="registration-form">
  <form action="https://www.my-server.com" method="post">
    <!-- <div class="login_button"> -->
    <!-- <div class = "reg"> -->
    <h2>ユーザ登録</h2>
    <label for="user-name">ユーザー名 (必須)</label>
    <input id="user-name" type="text" name="user-name" placeholder="山田太郎">

    <label for="e-mail">Eメール (必須)</label>
    <input id="e-mail" type="email" name="e-mail" placeholder="taro.yammada@google.com">

    <label for="group-id">グループID</label>
    <input id="group-id" name="group-id"></input>

    <label for="password">パスワード</label>
    <input id="password" name="password"></input>

    <!-- </div> -->
  </form>

  <div class="login_button">
    <button type="submit">登録する</button>
  </div>
</div>

</html>