<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/tag_edit.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="search-container">
            <img src="{{ url_for('static', filename='images/search.svg') }}" class="search-icon">
            <input type="text" id="searchInput" placeholder="タグで検索...">
        </div>
    </header>
    <aside id="leftSidebar">

        <a href="{{ url_for('chatpage') }}"><img src="{{ url_for('static', filename='images/hukidashi.svg') }}"
                class="hukidashi"></a>
        <a href="{{ url_for('data_reference') }}"><img src="{{ url_for('static', filename='images/folder.svg') }}"
                class="folder"></a>
        <a href="{{ url_for('tag_edit') }}"><img src="{{ url_for('static', filename='images/settings.svg') }}"
                class="settings"></a>
        <img src="{{ url_for('static', filename='images/upload.svg') }}" class="upload" onclick="openPopup()">
        <a href="{{ url_for('user_edit') }}"><img src="{{ url_for('static', filename='images/profile.svg') }}"
                class="profile"></a>

    </aside>
    <div id="wholeContent">
        <main>
            <div class="tag-edit">
                {% if tags %}
                    {% for tag in tags %}
                        <h1>{{ tag.genre }}</h1>
                        <div class="tags-container">
                            <!-- タグ要素 -->
                            <div class="tag tag-engineer" onclick="toggleIcon(this)" 
                                {% if tag.color %}style="background-color: {{ tag.color }};"{% endif %}>
                                {{ tag.tag }}
                                <span class="tag-icon">

                                    <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">

                                </span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
                <!-- <h1>入社年度</h1> -->
                <!-- <div class="tags-container">
                    <div class="tag tag-engineer" onclick="toggleIcon(this)">
                        1999年
                        <span class="tag-icon">

                            <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">

                        </span>
                    </div>
                    <div class="tag tag-designer" onclick="toggleIcon(this)">
                        2000年
                        <span class="tag-icon">

                            <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">

                        </span>
                    </div>
                    <div class="tag tag-sales" onclick="toggleIcon(this)">
                        2001年
                        <span class="tag-icon">

                            <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">

                        </span>
                    </div>
                    <div class="tag tag-development" onclick="toggleIcon(this)">
                        2002年
                        <span class="tag-icon">

                            <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">
                          
                        </span>
                    </div>
                    <div class="tag tag-hr" onclick="toggleIcon(this)">
                        2003年
                        <span class="tag-icon">

                            <img src="{{ url_for('static', filename='images/batu.svg') }}" alt="icon" class="batu">

                        </span>
                    </div>
                </div> -->
                <!-- 新規タグ作成セクション -->
            <div>    <!-- <form action="{{ url_for('create_tag') }}" method="post" id="createTafForm">              -->
                <form method="POST" id="createTagForm" onsubmit="event.preventDefault; createNewTag();">
                    <div class="new-tag-container">
                        <div class="color-ball" onclick="toggleColorPalette()"></div>
                        <select id="genreSelect" class="new-tag-genre" onchange="toggleNewGenreInput()">
                            <option value="">ジャンルを選択</option>
                            {% if tags %}
                                {% for tag in tags %}
                                    <option value="new">{{ tag.genre }}</option>
                                {% endfor %}
                            {% endif %}
                            <option value="new">ジャンルを新規作成</option>
                        </select>
                        <input type="text" id="newGenreName" class="new-genre-input hidden" placeholder="新しいジャンル名を入力">
                        <input type="text" id="newTagName" class="new-tag-input" placeholder="タグ名を入力">
                        <button class="create-new-tag-button" type="submit">新規作成</button>
                    </div>
                    <div class="color-palette hidden">
                        <div class="color-option" style="background-color: red;" onclick="changeColor('#ff4545')"></div>
                        <div class="color-option" style="background-color: green;" onclick="changeColor('#54aa3f')"></div>
                        <div class="color-option" style="background-color: blue;" onclick="changeColor('#3434ff')"></div>
                        <!-- 他の色も追加可能 -->
                    </div>
                </form>
            
            </div>
        </main>
        <div id="overlay" class="overlay hidden"></div>
        <div id="uploadPopup" class="popup hidden">
            <span class="close" onclick="closePopup()">&times;</span>
            <div id="dropZone" class="dropZone">
                <div class="upload-instructions">
                    <p>ここにファイルをドラッグ＆ドロップ<br>または</p>
                    <!-- 修正したフォーム -->
                    <form action="{{ url_for('file_up') }}" method="POST" enctype="multipart/form-data">
                        <div class="file-upload-container">
                            <label for="fileUpload" class="file-upload-label">ファイルを選択</label>
                            <input type="file" id="fileUpload" name="file" multiple accept=".pdf">
                        </div>
                        <button class="upload-button" type="submit">アップロード</button>
                    </form>
                </div>
                <div id="fileList" class="file-list"></div>
            </div>

            <div class="upload-container">
                <div class="boss-upload-tag-content">
                    <div class="upload-tag-content">
                        {% if tags %}
                            {% for tag in tags %}
                                <h2>{{ tag.genre }}</h2>
                                <div class="upload-tags-container">
                                    <!-- タグ要素 -->
                                    <div class="upload-tag" onclick="toggleIcon(this)" {% if tag.color %}style="background-color: {{ tag.color }};" {%endif %}>

                                        {{ tag.tag }}
                                        <span class="upload-tag-icon">
                                            <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="icon"
                                                class="plus-purple">
                                            <img src="{{ url_for('static', filename='images/check.svg') }}" alt="icon"
                                                class="check hidden">
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- <div class="upload-tag-content">
                            <h2>所属部署</h2>
                            <div class="upload-tags-container">
                                <div class="upload-tag" onclick="toggleIcon(this)">
                                    エンジニア
                                    <span class="upload-tag-icon">
                                        <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="icon"
                                            class="plus-purple">
                                        <img src="{{ url_for('static', filename='images/check.svg') }}" alt="icon"
                                            class="check hidden">
                                    </span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <script src="{{ url_for('static', filename='scripts/tag_edit.js') }}"></script>
</body>

</html>
