<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/user_edit.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="search-container">
            <img src="svg/search.svg" class="search-icon">
            <input type="text" id="searchInput" placeholder="タグを検索...">
        </div>
    </header>
    <aside id="leftSidebar">
        <a href="{{ url_for('chatpage') }}"><img src="{{ url_for('static', filename='images/hukidashi.svg') }}"
                class="hukidashi"></a>
        <a href="{{ url_for('data_reference') }}"><img src="{{ url_for('static', filename='images/folder.svg') }}"
                class="folder"></a>
        <!-- <img src="{{ url_for('static', filename='images/trashbox.svg') }}" class="trashbox"> -->
        <a href="{{ url_for('tag_edit') }}"><img src="{{ url_for('static', filename='images/settings.svg') }}"
                class="settings"></a>
        <img src="{{ url_for('static', filename='images/upload.svg') }}" class="upload" onclick="openPopup()">
        <a href="{{ url_for('user_edit') }}"><img src="{{ url_for('static', filename='images/profile.svg') }}"
                class="profile"></a>
    </aside>
    <div id="wholeContent">
        <main>
            <div class="user-edit">
                <h1>あ</h1>
                <div id="userList" class="user-list">
                    <li class="user-item">
                        <input type="checkbox" class="user-checkbox">
                        <div class="user-name">青木 陽介</div>
                        <div class="user-name">入社年度</div>
                        <div class="user-tags">
                            <span class="tag tag-designer">デザイナー</span>
                            <span class="tag tag-important">重要</span>
                        </div>

                        <span class="tag-menu-open">∨</span>

                        <!-- ∨をクリックしたときに表示 -->
                        <div class="tag-menu">
                            <ul>
                                <!-- <li>ファイル名の変更</li> -->
                                <li>タグ情報の変更</li>
                                <li>削除</li>
                            </ul>
                        </div>
                    </li>

                    <li class="user-item">
                        <input type="checkbox" class="user-checkbox">
                        <div class="user-name">新井 さくら</div>
                        <div class="user-name">入社年度</div>
                        <div class="user-tags">
                            <span class="tag tag-executive">幹部</span>
                            <span class="tag tag-important">重要</span>
                        </div>

                        <span class="tag-menu-open">∨</span>

                        <!-- ∨をクリックしたときに表示 -->
                        <div class="tag-menu">
                            <ul>
                                <!-- <li>ファイル名の変更</li> -->
                                <li>タグ情報の変更</li>
                                <li>削除</li>
                            </ul>
                        </div>
                    </li>
                </div>


                <h1>い</h1>
                <div id="userList" class="user-list">
                    <li class="user-item">
                        <input type="checkbox" class="user-checkbox">
                        <div class="user-name">井上 陽介</div>
                        <div class="user-name">部署</div>
                        <div class="user-tags">
                            <span class="tag tag-engineer">エンジニア</span>
                            <span class="tag tag-important">重要</span>
                        </div>

                        <span class="tag-menu-open">∨</span>

                        <!-- ∨をクリックしたときに表示 -->
                        <div class="tag-menu">
                            <ul>
                                <!-- <li>ファイル名の変更</li> -->
                                <li>タグ情報の変更</li>
                                <li>削除</li>
                            </ul>
                        </div>
                    </li>

                    <li class="user-item">
                        <input type="checkbox" class="user-checkbox">
                        <div class="user-name">井川 さくら</div>
                        <div class="user-name">部署</div>
                        <div class="user-tags">
                            <span class="tag tag-engineer">エンジニア</span>
                            <span class="tag tag-important">重要</span>
                        </div>
                        <span class="tag-menu-open">∨</span>

                        <!-- ∨をクリックしたときに表示 -->
                        <div class="tag-menu">
                            <ul>
                                <!-- <li>ファイル名の変更</li> -->
                                <li>タグ情報の変更</li>
                                <li>削除</li>
                            </ul>
                        </div>
                    </li>

                </div>

            </div>

            <!-- ポップアップとオーバーレイ -->
            <div id="overlay" class="overlay"></div>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <h3>所属部署</h3>
                    <div class="tags-edit-container">
                        <!-- タグ要素 -->
                        <div class="tagedit" onclick="toggleIcon(this)">
                            エンジニア
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            デザイナー
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            営業
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            開発
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            人事
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <!-- 他のタグが続きます -->
                    </div>
                    <h3>入社年度</h3>
                    <div class="tags-edit-container">
                        <!-- タグ要素 -->
                        <div class="tagedit" onclick="toggleIcon(this)">
                            1999年
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            1999年
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            1999年
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            1999年
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <div class="tagedit" onclick="toggleIcon(this)">
                            1999年
                            <span class="tag-icon">
                                <img src="svg/plus.svg" alt="icon" class="plus-purple">
                                <img src="svg/check.svg" alt="icon" class="check hidden">
                            </span>
                        </div>
                        <!-- 他のタグが続きます -->
                    </div>
                    <!-- 新規タグ作成セクション -->
                    <div class="new-tag-container">
                        <div class="color-ball" onclick="toggleColorPalette()"></div> <!-- カラーボール -->
                        <select id="genreSelect" class="new-tag-genre" onchange="toggleNewGenreInput()">
                            <option value="">ジャンルを選択</option>
                            <option value="入社年度">入社年度</option>
                            <option value="所属部署">所属部署</option>
                            <option value="new">ジャンルを新規作成</option>
                        </select>
                        <input type="text" id="newGenreName" class="new-genre-input hidden" placeholder="新しいジャンル名を入力">
                        <input type="text" id="newTagName" class="new-tag-input" placeholder="タグ名を入力">
                        <button class="create-new-tag-button" onclick="createNewTag()">新規作成</button>
                    </div>
                    <div class="popup-buttons">
                        <button class="save-button">保存</button>
                    </div>
                    <div class="color-palette hidden">
                        <div class="color-option" style="background-color: #ff4545;" onclick="changeColor('#ff4545')">
                        </div>
                        <div class="color-option" style="background-color: #54aa3f;" onclick="changeColor('#54aa3f')">
                        </div>
                        <div class="color-option" style="background-color: #3434ff;" onclick="changeColor('#3434ff')">
                        </div>
                        <div class="color-option" style="background-color: #ff4545;" onclick="changeColor('#ff4545')">
                        </div>
                        <div class="color-option" style="background-color: #54aa3f;" onclick="changeColor('#54aa3f')">
                        </div>
                        <div class="color-option" style="background-color: #3434ff;" onclick="changeColor('#3434ff')">
                        </div>
                        <div class="color-option" style="background-color: #ff4545;" onclick="changeColor('#ff4545')">
                        </div>
                        <div class="color-option" style="background-color: #54aa3f;" onclick="changeColor('#54aa3f')">
                        </div>
                        <div class="color-option" style="background-color: #3434ff;" onclick="changeColor('#3434ff')">
                        </div>
                        <div class="color-option" style="background-color: #ff4545;" onclick="changeColor('#ff4545')">
                        </div>
                        <div class="color-option" style="background-color: #54aa3f;" onclick="changeColor('#54aa3f')">
                        </div>
                        <div class="color-option" style="background-color: #3434ff;" onclick="changeColor('#3434ff')">
                        </div>
                        <!-- 他の色も追加可能 -->
                    </div>
                </div>
            </div>



        </main>
    </div>

    <script src="{{ url_for('static', filename='scripts/user_edit.js') }}"></script>
</body>

</html>