* {
    margin: 0;
    padding: 0;
}


#menu {
    background-color: antiquewhite;
    width: 15%;
    height: 100%;
    position: absolute;
}

#file {
    background-color: antiquewhite;
    width: 15%;
    position: absolute;
    left: 85%;
    height: 100%;
}





#chat-container {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    display: flex;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
}
#top-bar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10px;
    background-color: rgb(233, 233, 233);
    z-index: 10;
}
#watermark {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 55px;
    z-index: 10;
    background: linear-gradient(to bottom, rgb(233, 233, 233), rgba(78, 205, 196, 0));
}
#display {
    position: absolute;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    width: 90%;
    height: 81.5%;
    left: 5%;
    top: -5px;
    border-radius: 5px;
}
.input-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    border-radius: 5px;
    box-sizing: border-box;
    bottom: 3%;
    left: 10%;
}
#textarea {
    flex-grow: 1;
    max-height: 150px;
    min-height: 24px;
    padding: 14px 12px 0px 12px;
    border: 1px solid #ccc;
    border-radius: 23px;
    outline: none;
    resize: none;
    overflow-y: auto;
    margin-right: 10px;
    font-size: 16px;
    line-height: 1.5;
}
#textarea:empty:before {
    color: #888;
    content: attr(data-placeholder);
}
.button-container {
    display: flex;
    align-items: center;
}

.action-button {
    /* margin-top: 1px; */
    margin-left: 5px;
    margin-bottom: 4px;
    /* padding: 5px; */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
        
.action-button:hover {
background-color: #e0e0e0;
}



/* 
form {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-wrapper {
    position: relative;
}

#inputArea,
#suggestion {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

#inputArea {
    border: 1px solid #ccc;
    resize: vertical;
}

#suggestion {
    position: absolute;
    top: 0;
    left: 0;
    color: #999;
    background: transparent;
    pointer-events: none;
    white-space: pre-wrap;
    overflow: hidden;
}

#matchedText {
    color: #999;
}
#remainingText {
    color: #ccc;
}


button {
    margin-top: 10px;
   padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} */
